html, body, p, pre {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: gainsboro;
}

#working-space {
    background-color: gainsboro;
    margin: 0;
}
canvas {
    width: 280px;
    height: 280px;
    border: 0;
    image-rendering: pixelated;
}

#inputnumber {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid gray;
}

.page {
    box-sizing: border-box;
    width: 210mm;
    height: auto;
    page-break-after: always;
    margin: 0;
    border: 1px solid gray;
    padding: 0;

    background-color: papayawhip;
}
.page > h1 {
    margin-top: 0;
    margin-left: 25px;
    border-bottom: 1px dotted gray;
}
.page > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 25px 25px;
}
img.figure {
    margin: 1px;
}

.ondragging {
    background-color: whitesmoke;
    border: 5px dotted gray;
}
