html, body, p, pre {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
}

.page {
    box-sizing: border-box;
    width: 210mm;
    height: auto;
    page-break-after: always;
    margin: 0;
    border: 1px solid gray;
    padding: 0;
}
.page ~ .page {
    border-top: 0;
}
.page > h1 {
    display: inline-block;
    margin: 0 auto 5px 25px;
}
.page > h1::before {
    content: "▶︎ ";
}
.page > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 25px 25px;
}

.figure {
    padding: 0;
    border: 0;
    margin: 1px 1px 8px 1px;
}

.figure > img {
    height: 28px;
    width: 28px;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: bottom;
    image-rendering: pixelated;
}
.figure > figcaption {
    height: 14px;
    width: 28px;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 1pt;
    /* line-height: 10pt; */
    text-align: center;
    background-color: rgb(208, 225, 240);
}

@media screen {
    body {
        height: 100vh;
    }
    
    #working-space {
        margin: 0;
        border: 2px groove gray;
        padding: 20px;
    }
    canvas {
        display: none;
        width: 280px;
        height: 280px;
        border: 0;
        image-rendering: pixelated;
    }
    
    #inputnumber {
        display: inline-block;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid gray;
        background-color: rgb(247, 239, 204);
    }
    #inputnumber > input {
        font-size: 20pt;
    }
    #inputnumber > button {
        height: 30px;
        margin-left: 20px;
        font-size: 16pt;
    }
    
    #label_file.loaded::before, #image_file.loaded::before {
        padding: 5px;
        margin-right: 10px;
        content: "LOADED!";
        font-weight: bold;
        color: white;
        background-color: blue;
    }

    .page {
        margin: 20px auto;
        box-shadow: 5px 5px 5px 5px gray;
    }

    .ondragging {
        border: 5px dotted gray;
    }    
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        background-color: white;
    }
    
    #working-space {
        display: none;
    }
    .page {
        height: cals(297mm - 3mm);
        page-break-after: always;
        border: 0;
        background-color: white;
    }    
}